@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.section__header {
  margin: 24px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
}

.films-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

main {
  padding: 0 16px;
}

/* 

    Tablet

*/

@include breakpoint(tablet) {
  main {
    padding: 0 24px;
  }
}
