@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.section__header {
  margin: 24px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
  transition: all 300ms ease;
}

.films-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  transition: all 300ms ease;
}

main {
  padding: 0 16px;
}

/* 

    Tablet

*/

@include breakpoint(tablet) {
  main {
    padding: 0 24px;
  }

  .section__header {
    font-size: 32px;
    margin: 25px 0;
  }

  .films-display {
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
  }
}
