@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.navbar {
  width: 100%;
  min-height: 56px;

  transition: all 300ms ease;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  background-color: #161d2f;
}

.navbar__links {
  display: flex;
  gap: 24px;
}

.navbar__link {
  svg {
    cursor: pointer;
    transform: scale(0.9);

    path {
      transition: all 300ms ease;
    }
  }

  &:hover > svg > path {
    fill: $red;
  }
}

.navbar__logo {
  transform: scale(0.85);
}

.navbar__img {
  width: 24px;

  border: 1px solid white;
  border-radius: 50%;
  transition: all 300ms ease;
}

.selected > path {
  fill: white;
}

/* 

      Tablet

*/

@include breakpoint(tablet) {
  .navbar {
    padding: 23px 24px;
  }

  .navbar__wrapper {
    min-width: 719px;
    min-height: 72px;
    border-radius: 10px;
  }

  .navbar__logo {
    transform: scale(0.9);
  }

  .navbar__img {
    width: 32px;
  }
}

/* 

      Desktop 

*/

@include breakpoint(desktop) {
  .navbar {
    position: absolute;
  }

  .navbar__wrapper {
    min-width: unset;
    max-width: 96px;
    flex-direction: column;
    justify-content: unset;
    min-height: 90vh;
  }

  .navbar__links {
    flex: 1;
    flex-direction: column;
    margin-top: 74px;
  }

  .navbar__img {
    width: 40px;
  }

  .navbar__img--wrapper {
    max-height: 40px;
  }
}
