@use "../abstracts/variables" as *;

.trending__slide {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 12px;
  gap: 16px;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $red;
  }
}
