@use "../../abstracts/variables" as *;

.searchbar {
  position: relative;
  margin-top: 24px;
  height: max-content;
  width: max-content;

  display: flex;
  align-items: center;
}

.searchbar__icon {
  transform: scale(0.8) translateY(-4px);
}

.searchbar__input {
  width: 257px;

  margin-left: 16px;
  padding-bottom: 8px;
  font-family: $baseFont;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  color: white;
  border: none;
  caret-color: #fc7474;
  border-bottom: 1px solid transparent;

  &::placeholder {
    color: white;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #5a698f;
  }
}
