@use "../../abstracts/variables" as *;
@use "../../utils/breakpoints" as *;

.searchbar {
  position: relative;
  margin-top: 24px;
  height: max-content;
  width: max-content;

  display: flex;
  align-items: center;
}

.searchbar__icon {
  transform: scale(0.8) translateY(-4px);
}

.searchbar__input {
  width: 257px;
  margin-left: 16px;
  padding-bottom: 8px;
  font-family: $baseFont;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  color: white;
  border: none;
  caret-color: $red;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 300ms ease;

  &::placeholder {
    color: white;
    opacity: 0.5;
  }

  &:focus,
  &:hover {
    outline: none;
    border-bottom: 1px solid #5a698f;
  }
}

/* 

      Tablet

*/

@include breakpoint(tablet) {
  .searchbar__icon {
    transform: scale(0.9) translateY(-6px);
  }

  .searchbar__input {
    width: 321px;
    font-size: 24px;
    margin-left: 28px;
  }
}
